:root {
    --blue: #010a58;
    --white: #ece7de;
    --red: #ff3c3c;
    --home-font: monospace;
} /* for easy(ish) colour and font changing */

html {
    height: 100%;
} /* body margins are 0 so page fits to browser window area */

* {
    color: var(--fontColor);
    font-family: 'Source Code Pro', monospace, Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0 0;
    height: 100%;
    background: var(--blue);
    color: var(--white);
} /* stretch body element to fit html parent */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;

} /* define basic 2-column grid layout */

#right-panel {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 95%;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    right: 0;
} /* image and button wrapper aligned and centered in right hand panel 
     right hand panel set to height 100% to constrain child image */

#left-panel {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 95%;
    text-align: left;
    justify-content: center;
    padding: 1vh 1vw 1vh 1vw;
    border-right: 1px solid var(--white);
} /* pad the left panel for text formatting */

h1 {
    padding: 0;
    font-size: 1em;
}

#ps-button {
    display: none;
}

#personal-statement {
    font-size: 0.8em;
    display: block;
}

#link-list{
    margin: default 0 0 0;
    padding: 0;
}

#slide {
    height: 70vh;
    width: 50vh;
    margin: 5vh 5vw;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--white);
} 

a {
    text-decoration: none;
    font-style: italic;
}
a:visited {
    color: var(--white);
}
a:hover {
    color: var(--red);
    font-style: normal;
}

.link-div {
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 0.7em;
    align-items: center
}

.link {
    padding: 10px;
}

ul {
    list-style-position: outside;
    list-style-type: none;
    font-size: 0.7em;
    width: auto;
}

#button-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    position: relative;
    align-items: center
}

button {
    margin-left: 10px;
    margin-right: 10px;
    font-family: var(--home-font);
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
    padding: 10px 10px;
    border-radius: 0px;
}

#image-counter {
    text-align: center;
}

button:hover {
    color: var(--red);
    background-color: var(--white);
    border-color: var(--blue);
    transition-duration: 0.3s;
}

@media (max-width: 800px){
    .container {
        display: flex;
        flex-direction: column;
        width: 100%; 
    }

    #right-panel {
        position: relative; 
        height: auto; 
    }

    #button-div {
        margin-bottom: 5vh;
    }

    #left-panel {
        text-align: center;
        border-right: none;
        border-bottom: 1px solid var(--white);
        width: 95%;
    } 

    #ps-button {
        display: block;
    }

    #personal-statement {
        display: none;
        height: 90%;
        width: 90%;
        align-self: center;
        text-align: justify;
    }   


    #slide {
        height: 55vh;
        width: 75vw;
    }
}

@media (max-width: 1000px) {
    #personal-statement {
        font-size: 0.7em;
    }
}

#clock {
    padding: 0 1vw 2vh 1vw;
    margin-left: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
}
#clock:hover {
    background-color: transparent;
    font-style: italic;
}
